{% extends "logistics/base.html" %}

{% block content %}

<title>{{ title }}</title>

    <div class="col-lg-4 col-md-8">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <h4 class="card-title">Хотите удалить водителя: </h4>
                            <p>{{driver.driver_name}} ?</p>
                            <button type="submit" class="btn btn-danger">Подтвердить</button>
                            <a class="btn btn-warning" href="{% url 'company:drivers_list' %}">Отмена</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<br>
{% endblock %}