{% extends 'logistics/base.html' %}

{% block content%}

<title>{{ title }}</title>

<div class="container">

    <div class="row">
        <div class="col-8">
            <h3>Список городов</h3>
            <table class="table table-condensed table-bordered table-striped">
                <thead>
                <tr>
                    <th>Город</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for city in cities %}
                <tr>
                    <td>{{ city.city_name }}</td>
                                   <td>
                        <a href="{% url 'logistics:city_update' city.pk %}"
                           class="btn btn-condensed btn-sm btn-outline-warning">Редактировать</a>
                        <a href="{% url 'logistics:city_delete' city.pk %}"
                           class="btn btn-condensed btn-sm btn-outline-danger">Удалить</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <a href="{% url 'logistics:city_create' %}" class="btn btn-sm btn-outline-success">
            Добавить город</a>
    </div>
</div>
<br>
<style>
    /* Стили для шрифта таблицы */
.table-condensed{
  font-size: 12px;
}

/* Стили для шрифта кнопок в таблице */
.btn-condensed{
  font-size: 12px;
}
</style>
{% endblock %}
